/* Mobile screen */
.container {
  font-family: Arial, "Times New Roman", "Courier New";
  background-color: rgb(240, 240, 228);
  display: grid;
  justify-content: center;
  height: 100vh;
  grid-template-rows: 100px 100px 450px;
  grid-template-columns: 400px;
  grid-template-areas:
  "hd"
  "sd"
  "main"
  "ft" 
}

.header-box {
  grid-area: hd;
  z-index: 1;
}

.sidebar-box {
  grid-area: sd;
}

.content-box {
  grid-area: main;
} 

.footer-box {
  grid-area: ft;
  margin-top: 20px;
  margin-right: 20px;
  /* display: flex;
  flex-direction: column; */
} 

/* Tablet screen */
@media (min-width: 600px) and (max-width: 1100px) {
  .container { 
    font-family: "Times New Roman", Arial, "Courier New";
    display: grid;
    width: 100%;
    justify-content: center;
    grid-gap: 40px;
    grid-template-rows: 100px 450px 150px;
    grid-template-columns: 100px 200px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd main main main main main main main"
    "ft ft ft ft ft ft ft ft"
  }
}

/* Desktop screen */
@media (min-width: 1101px) {
  .container { 
    font-family: "Times New Roman", Arial, "Courier New";
    display: grid;
    justify-content: center;
    grid-template-rows: 100px 450px 200px;
    grid-template-columns: 50px 100px;
    grid-gap: 40px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft" 
  }
}

.page-header {
  background-color: rgb(200, 232, 245);
  color: rgb(121, 117, 117);
  border-radius: 20px;
  padding: 5px;
  position: absolute;
  border: 10px solid #757574;
  font-size: 12px;
  margin-top: 20px;
}

.page-body {
  margin-top: 20px;
}

.sidebar-nav {
  font-size: 18px;
  font-weight: bold;
  color: rgb(121, 117, 117);
}

.page-body-bottom {
  padding-top: 10px;
  text-align: center;
  background-color: rgb(222, 227, 228);
  width: 100%;
  margin-bottom: 40px;
}

ul {
  color: rgb(121, 117, 117);
}

.latest-post-button {
  display: block; 
  width: fixed; 
  height: 25px;
  margin: 0 auto;
  background-color: rgb(144, 187, 201);
  margin-bottom: 30px;
}

.button-latest-post-text {
  color: rgb(121, 117, 117);
  font-weight: bold;
}



.form-subscribe-button {
  font-weight: bold;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(144, 187, 201);
  color: rgb(121, 117, 117);
}

.form-subscribe-text {
  color: rgb(121, 117, 117); 
}

.footer-nav {
  margin-top: 20px;
  width: 100%;
}

.social {
  float: right;
}

.footer-social-link {
  margin-left: 3px;
}

.footer-links a {
  font-size: 14px;
  font-weight: bold;
  color: rgb(121, 117, 117);
}

a:hover {
  color: #00f;
}

a {
  text-decoration: none;
}

