.box { 
width: auto;
/* margin: 25px;
padding: 50px; */
font: 100%/1.6 Arial, Courier, Times;
font-family: Arial, "Courier New", "Times New Roman";
/* font-size: 16px; */
}

.page-header {
  background-color: rgb(200, 232, 245);
  color: rgb(121, 117, 117);
  border-radius: 20px;
  display: inline-block;
  padding: 5px;
  position: fixed;
  border: 10px solid #757574;
  font-size: 12px;
  /* font: 100%/1.6 Arial, Courier, Times; */
}

.page-body {
  padding-top: 155px;
}

.page-body-top {
  padding-top: 20px;
  overflow: hidden;
}

.latest-post-title {
  position: absolute;
  top: 8px;
  left: 16px;
}

.sidebar a {
  font-size: 18px;
  font-weight: bold;
}

.page-body-middle {
  padding-top: 10px;
}

.page-body-bottom {
  padding-top: 10px;
  text-align: center;
  background-color: rgb(222, 227, 228);
}

.sidebar {
  float: left;
  width: 10%;
}

.sidebar-links-color {
  color: rgb(121, 117, 117);
}

ul {
  color: rgb(121, 117, 117);
}

.latest-post {
  float: right;
  width: 90%;
  text-align: center;
}

.read-more-button {
  display: block; 
  width: fixed; 
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: rgb(144, 187, 201);
}

.button-read-more-text {
  color: rgb(121, 117, 117);
  font-weight: bold;
}

.form-subscribe-button {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgb(144, 187, 201);
  color: rgb(121, 117, 117);
}

.form-subscribe-text {
color: rgb(121, 117, 117); 
}

.footer-nav {
  display: inline;
  padding: 20px;
}

.footer-links {
  padding-left: 100px; 
}

.social {
  float: right;
  padding-right: 100px;
  margin-top: -25px;
}

.footer-social-link {
  margin-left: 3px;
  display: inline-block;
  height: 100%; 
}

.footer-social-icon {
  width: 36px;
  height: 36px;
}

.footer-links a {
  display:inline;
  font-size: 18px;
  font-weight:bold;
  margin-right:1.5em;
  color: rgb(121, 117, 117);
}

.footer-background {
  background-color: beige;
}
a:hover {
  color: #00f;
}

a {
  text-decoration: none;
}

